<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>帳號管理</title>
</head>
<body>
<div id="app">
    <v-app id="inspire">

        <v-toolbar color="indigo" dark fixed app>
            <v-toolbar-title>帳號管理</v-toolbar-title>
        </v-toolbar>
        <v-content>
            <v-toolbar flat color="white">
                <v-toolbar-title>人員管理</v-toolbar-title>
                <v-divider
                        class="mx-2"
                        inset
                        vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialogAddAccount" max-width="500px">
                    <v-btn slot="activator" color="primary" dark class="mb-2">新增帳號</v-btn>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field v-if="this.editedIndex === -1"
                                                      v-model="editedItem.account" label="帳號" >
                                        </v-text-field>
                                        <v-text-field v-else
                                                      v-model="editedItem.account" label="帳號" disabled >
                                        </v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field v-model="editedItem.name" label="姓名"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4>
                                        <v-select
                                                v-model="editedItem.department"
                                                :items="departments"
                                                label="系所"
                                        ></v-select>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4>
                                        <v-select
                                                v-model="editedItem.permission"
                                                :items="permissions"
                                                label="權限"
                                        ></v-select>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="close">取消</v-btn>
                            <v-btn color="blue darken-1" flat @click.native="save">儲存</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogAddDepartment" max-width="500px">
                    <v-btn slot="activator" color="success" dark class="mb-2">新增系所</v-btn>
                    <v-card>
                        <v-card-title>
                            <span class="headline">新增系所</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field v-model="AddDepartment" label="新增系所" >
                                        </v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="AddDepartmentClose">取消</v-btn>
                            <v-btn color="blue darken-1" flat @click.native="AddDepartmentSave( AddDepartment )">儲存</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteDepartment" max-width="500px">
                    <v-btn slot="activator" color="error" dark class="mb-2">刪除系所</v-btn>
                    <v-card>
                        <v-card-title>
                            <span class="headline">刪除系所</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm6 md4>
                                        <v-select
                                                v-model="selectdepartments"
                                                :items="departments"
                                                label="系所"
                                        ></v-select>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="DeleteDepartmentClose">取消</v-btn>
                            <v-btn color="error" flat @click.native="DeleteDepartmentSave( selectdepartments )">刪除</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
            <v-data-table
                    :headers="headers"
                    :items="accounts"
                    hide-actions
                    class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td class="text-xs-center">{{ props.item.account }}</td>
                    <td class="text-xs-center">{{ props.item.name }}</td>
                    <td class="text-xs-center">{{ props.item.department }}</td>
                    <td class="text-xs-center">{{ props.item.permission }}</td>
                    <td class="justify-center layout px-0">
                        <v-icon
                                class="mr-2"
                                @click="editItem(props.item)"
                        >
                            edit
                        </v-icon>
                        <v-icon
                                class="mr-2"
                                @click="deleteItem(props.item)"
                        >
                            delete
                        </v-icon>
                    </td>
                </template>
                <template slot="no-data">
                    <v-alert :value="true" color="error" icon="warning">
                        已無帳號可刪除
                    </v-alert>
                </template>
            </v-data-table>
        </v-content>
        <v-footer color="indigo" app inset>
            <span class="white--text">&copy; QuestionSystem</span>
        </v-footer>
    </v-app>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: () => ({
            dialogAddAccount: false,
            dialogAddDepartment: false,
            dialogDeleteDepartment: false,
            selectdepartments : '' ,
            AddDepartment : '',
            headers: [
                {
                    text: '帳號',
                    align: 'center',
                    sortable: true,
                    value: 'account'
                },
                {
                    text: '姓名',
                    align: 'center',
                    sortable: true,
                    value: 'name',
                },
                {
                    text: '系所',
                    align: 'center',
                    sortable: true,
                    value: 'department'
                },
                {   text: '權限',
                    align: 'center',
                    sortable: true,
                    value: 'permission'
                },
                {
                    text: '編輯',
                    value: 'name',
                    align: 'center',
                    sortable: false
                }
            ],
            permissions: [ '管理員' , '助理' , '助教' ],
            departments: [ '資訊' , '電機' , '工工' , '電子' , '機械' ] ,
            accounts: [],
            editedIndex: -1,
            editedItem: {
                account: '',
                name: '',
                department: '',
                permission: '',
            },
            defaultItem: {
                account: '',
                name: '',
                department: '',
                permission: '',
            }
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? '新增帳號' : '編輯帳號'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            initialize () {
                this.accounts = [
                    {
                        account: '10327247',
                        name: '舒一修',
                        department: '資訊',
                        permission: '管理員'
                    },
                    {
                        account: '10327144',
                        name: '伍家恩',
                        department: '資訊',
                        permission: '管理員'
                    },
                    {
                        account: '30355',
                        name: '羅秀美',
                        department: '資訊',
                        permission: '助理'
                    },
                    {
                        account: '72717',
                        name: '鄭涵榛',
                        department: '資訊',
                        permission: '助理'
                    },
                    {
                        account: '12345',
                        name: '張志傑',
                        department: '資訊',
                        permission: '管理員'
                    },
                ]
            },

            editItem (item) {
                this.editedIndex = this.accounts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialogAddAccount = true
            },

            deleteItem (item) {
                const index = this.accounts.indexOf(item)
                console.log(item)
                confirm('確定要刪除 ' + item.name + ' 此人員?') && this.accounts.splice(index, 1)
            },

            close () {
                this.dialogAddAccount = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.accounts[this.editedIndex], this.editedItem)
                } else {
                    this.accounts.push(this.editedItem)
                }
                this.close()
            },

            AddDepartmentClose () {
                this.AddDepartment = ''
                this.dialogAddDepartment = false
            },

            AddDepartmentSave (item) {
                const index = this.departments.indexOf(item)
                if ( index === -1 ) {
                    confirm('確定要新增 ' +  item + ' 此系所?') && this.departments.push(item)
                }
                else {
                    confirm('此系所已經存在')
                }
                this.AddDepartment = ''
                this.dialogAddDepartment = false
            },

            DeleteDepartmentClose () {
                this.selectdepartments = ''
                this.dialogDeleteDepartment = false
            },

            DeleteDepartmentSave (item) {
                const index = this.departments.indexOf(item)
                confirm('確定要刪除 ' +  item + ' 此系所?') && this.departments.splice(index, 1)
                this.selectdepartments = ''
                this.dialogDeleteDepartment= false
            }

        }
    })

</script>
</body>
</html>